@import "./reset.css";

.service--section,
.team--section {
  padding: 60px 0;
  overflow: hidden;
  background-color: #f3f5fa;
  display: block;
}

.port--section {
  padding: 60px 0;
  overflow: hidden;
  background-color: white;
  display: block;
}

.service--wrapper,
.port--wrapper,
.team--wrapper {
  margin: 0 8rem 0 8rem;
}

.service--title,
.team--title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
  margin-top: 60px;
}
.service--title::before,
.team--title::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.service--title::after,
.team--title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.service--section p,
.port--section p {
  display: block;
  text-align: center;
}

.service--contents,
.team--contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.service--contents--box,
.team--contents--box {
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 50px 30px;
  margin: 10px;
  box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
  width: 40%;
}

.service--contents--icon {
  margin-bottom: 20px;
}
.service--contents--icon i {
  font-size: 36px;
  color: #47b2e4;
}

.service--contents--title {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
  color: #37517e;
}
.service--contents--content {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
/*
@media screen and (min-width: 1200px) {
  .service--contents--box {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .service--contents--box {
    width: 40%;
  }
}
*/

.action--wrapper {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url(./cta-bg.jpeg) fixed center center;
  background-size: cover;
  padding: 120px 0;
  color: white;
}
.action--contents {
  display: flex;
  margin: 0 6rem 0 6rem;
  justify-content: center;
  align-items: center;
}
.action--contents--content {
}
.action--title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.action--content {
  font-size: 16px;
}
.action-btn-wrap {
  width: 50%;
  padding-left: 4rem;
}
.action--btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  vertical-align: middle;
}
.action--btn:hover {
  background-color: #47b2e4;
  border-color: #47b2e4;
}

.port--ul {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}
.port--ul li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}
.port--ul li:hover {
  background: #47b2e4;
  color: #fff;
}

.port--photos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem 0 4rem;
}

.port--photos--item {
  width: 33.333%;
  height: fit-content;
  padding: 0 10px 0px 10px;
  margin-bottom: 30px;
}
.port--photo--img {
  overflow: hidden;
}
.port--imgfluid,
.team--imgfluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.port--photo--info {
  opacity: 0;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}
.port--photos--item:hover .port--photo--info {
  opacity: 1;
}

.port--photo--info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
.port--photo--info p {
  text-align: left;
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.team--contents--box {
  position: relative;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  display: flex;
}
.team--contents--box:hover,
.service--contents--box:hover {
  transform: translateY(-10px);
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.team--member {
  flex: 0 0 auto;
  width: 100%;
  display: flex !important;
}

.team--picture {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team--info {
  padding-left: 30px;
}
.team--info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}
.team--info span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team--info span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}
.team--info p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team--social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team--social a {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}
.team--social a:hover {
  background: #47b2e4;
}
.team--social a:hover i {
  color: #fff;
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

button {
  background: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* 방문한 적 있는 링크 */
a:visited {
  text-decoration: none;
  color: inherit;
}

input {
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.body--conatact--to-end {
  display: flex;
}

.body--contact--align {
  width: 100%;
  height: px;
  vertical-align: middle;
  padding: 60px 0;
  overflow: hidden;
  margin: 0 auto;
}

.contact--section-title {
  width: 1116px;
  height: 126.398px;
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto;
}

.contact--head {
  /* text-align: center; */
  font-size: 32px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  color: #37517e;
}

.contact--text {
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.contact--flexbox {
  display: flex;
  width: 1116px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.info--outer-box {
  display: flex;
  width: 1116px;
  height: 600px;
  margin: 0 auto;
  justify-content: space-between;
}

.contact--flexbox--info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 490px;
  height: 600px;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
  margin-right: 30px;
}

.contact--flexbox--text {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 62px;
  overflow: visible;
}

.contact--flexbox--info h4 {
  display: inline-block;
  padding: 0 0 0 20px;
  font-size: 22px;
  font-weight: 900;
  margin: 5px 0 5px 0;
  height: 22px;
  width: 376px;
  color: #37517e;
}

.contact--flexbox--info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact--flexbox--info i:hover {
  font-size: 20px;
  color: #e7f5fb;
  float: left;
  width: 44px;
  height: 44px;
  background: #47b2e4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact--flexbox--location {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 62px;
  margin-bottom: 20px;
}
/* #contact--address--text{
  width: 406px;
  height: 21px;
  padding-left: 60px;
  padding-bottom: 10px;
  margin-bottom: 20px;
} */

.contact--flexbox--info p {
  width: 376px;
  height: 20px;
  padding: 0 0 10px 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 14px;
  color: #6182ba;
}

.contact--flexbox--email {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 62px;
  margin-bottom: 20px;
}

.contact--flexbox--phone {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 62px;
  margin-bottom: 20px;
}

.contact--flexbox--email-form {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 600px;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.email-form--text {
  display: inline-block;
  padding-bottom: 8px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.email-form--input--short {
  width: 253px;
  height: 45px;
  padding: 6px 12px;
  font-size: 15px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
}

.contact--email-form--input {
  width: 555px;
  height: 45px;
  padding: 6px 12px;
  font-size: 15px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
}

.contact--emil-form--top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.contact--email-form--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.contact--email-form--right {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.contact--email-form--middle {
  margin-bottom: 35px;
}

.contact--email-form--bottom {
  display: flex;
  flex-direction: column;
}

.contact--email-form--teaxtarea {
  width: 555px;
  height: 45px;
  padding: 6px 12px;
  font-size: 15px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
}

.contact--email-form--teaxtarea:focus {
  border: 1px solid rgb(112, 158, 255);
  outline: none;
}

.contact--email-form--input:focus {
  border: 1px solid rgb(112, 158, 255);
  outline: none;
}

.email-form--input--short:focus {
  border: 1px solid rgb(112, 158, 255);
  outline: none;
}

.contact--email-form--btn {
  background-color: #47b2e4;
  width: 170px;
  height: 100px;
  padding: 12px 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 40px;
  margin: 15px auto;
}

.contact--email-form--btn span {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.body--footer {
  display: flex;
  flex-direction: column;
}

.body--footer--newsletter {
  background-color: #f3f5fa;
  width: 100%px;
  height: 250px;
}

.footer--newsletter--center {
  width: 570px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer--newsletter--title {
  font-size: 25px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  color: #37517e;
  margin: 40px 0 10px 0;
  text-align: center;
}

.footer--newsletter--text {
  text-align: center;
  font-size: 16px;
  color: #444444;
}

.footer--newsletter--center form {
  display: flex;
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
  text-align: left;
}

.footer--newsletter--input {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
  height: 30px;
}

.footer--newsletter--submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #47b2e4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.body--footer--top {
  width: 100%;
  height: 300px;
  padding: 60px 0 30px 0;
  background: #fff;
}

.footer--top--inner-box {
  display: flex;
  margin: 0 auto;
  justify-content: between;
}

.footer--top--first {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 220px;
}

.footer--top--second {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 220px;
}

.footer--top--first h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 800;
  color: #37517e;
}

.footer--top--inner-box h4 {
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 800;
  color: #37517e;
}

.footer--top--inner--box p {
  color: #ff0000;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.inline-block {
  display: inline-block;
}

.header {
  background: #fff;
  height: 65px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav__arsha {
  font-size: 40px;
  text-decoration-color: white;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header__logo img {
  height: 30px;
}
.header__logo a {
  color: #1e5f8d;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -0.8px;
  font-weight: 500;
}
.header__logo strong {
  margin-left: 6px;
  text-transform: uppercase;
}
.header__logo strong span {
  color: #00a6eb;
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 20%;
  margin-left: 20%;
}

.preview-devices ul {
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.preview-devices a {
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  color: #1e5f8d;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
}
.preview-devices a:hover {
  color: #00a6eb;
}
.preview-devices .preview-devices-active a {
  border-bottom: 2px solid #00a6eb;
  color: #00a6eb;
}
.navigate {
  margin-left: auto;
}
.navigate .icon-chevron-left,
.navigate .icon-chevron-right {
  width: 36px;
  height: 36px;
}
.navigate ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.navigate li {
  margin: 0 0 0 5px;
}
.navigate li:last-child {
  margin-right: 0;
}
.navigate a {
  transition: 0.3s;
  padding: 0 10px;
  border: solid 1px #dfdfdf;
  border-radius: 4px;
  color: #828282;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  text-decoration: none;
}
.navigate a:hover {
  border: solid 1px #00a6eb;
  color: #00a6eb;
}
.navigate a.download {
  background: #00a6eb;
  border: solid 1px #00a6eb;
  color: #fff;
  font-size: 15px;
  padding: 0 16px;
}
.navigate a.download span {
  padding-left: 4px;
}
.navigate a.download:hover {
  background: #00b4ff;
  border-color: #00b4ff;
}
.navigate a.first-latest {
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #fff;
}
@media (max-width: 1024px) {
  .preview-devices {
    display: none;
  }
}
@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .navigate {
    margin: 0;
    width: calc(100% - 4px);
  }
  .navigate ul {
    justify-content: center;
  }
  .navigate li {
    flex-grow: 1;
    flex-basis: 0;
  }
  .navigate a.download span {
    display: none;
  }
}

.preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  transition: all 0.2s;
}

.preview-frame {
  border: 0;
  position: absolute;
  transition: 0.5s;
}

.preview-desktop {
  left: 0;
  width: 100%;
  height: 100%;
}

.nav {
  transition: all 0.5s;
  padding: 15px 0;
  display: inline-block;
  z-index: 997;
  margin-top: 65px;
}

.logo {
  font-size: 30px;
  margin-left: 60px;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration-line: none;
  text-decoration-color: #fff;
}

.hero {
  width: 100%;
  height: 65px;
  background: #37517e;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
